#first{
    display: flex;
    position: relative;
    align-items: center;
}
/* When scroll to the selected works */
/* Menu float to bottom. */
.floatToBottom{
    flex-direction: row;
    
    top: 75vh;
    left: 50vw;
    transform: translateX(-50%);
    justify-content: center;
    
    transition: all 0.3s;
}
.floatToBottom a{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 4em;
    border-radius: 500px;
    background-color: #F6AE2D;

    width: 10em;
    height: 2em;
    transition: all 0.3s;
}
.floatToBottom a:nth-child(1){
    margin-left: 0em;
}
.floatToBottom a:hover{
    color: #fff;
    
}

/* Console styles */
.console-container{
    font-family: Khula;
    font-size: 4em;
    text-align: center;

    width: 600px;
    /* height: 300px; */
    

    /* display: block; */
    /* position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    margin: auto;

    color: white;
    /* border: 2px solid white; */
}
.console-underscore{
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}

/* Profile */
#second{
    justify-content: center;
    display: flex;
}

.profile{
    display: flex;
    margin-top: 20vh;
}

#portrait{
    width: 280px;
    height: 280px;
    object-position: 16px 30px;
    object-fit: cover;

    background-color: #F38C8E;
    border-radius: 50%;

    margin-left: 400px;
}

/* Skills */
.collapse-horizontal{
    display: flex;
}
.collapse-horizontal img{
    width: 50px;
    height: 50px;
    object-fit: scale-down;
    
    margin-left: 20px;
}
.collapse-horizontal img:first-child{
    margin-left: 0px;
}

/* works */
#third{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#works{
    margin-top: 17vh;
}
.works{
    display: flex;

    padding-top: 10vh;
    margin: 0 1.5vw;
    /* justify-content: center; */
    /* align-items: center; */
}
.works a{
    margin-left: 3vw;
    background-color: #191919;
}
.works a:first-child{
    margin-left: 0vw;
}
.hidden-works{
    /* height: 100%; */
    height: 30vh;
    width: 35vh;
    /* object-fit: cover; */

    /* margin-left: 3vw; */
    padding: 0.4em;

    filter: grayscale(90%);

    border-radius: 18%;
    border: 0.3em solid whitesmoke;
}
.hidden-works-hidden{
    filter: blur(5px);
    transform: translateX(-100%);
}
.hidden-works-show{
    filter: blur(0);
    filter: grayscale(90%);
    transform: translateX(0);
    transition: all 0.3s;
}
.hidden-works-show:nth-child(2){
    transition-delay: 140ms;
}
.hidden-works-show:nth-child(3){
    transition-delay: 340ms;
}
.hidden-works-show:nth-child(4){
    transition-delay: 540ms;
}
.hidden-works img{
    /* height: 100%; */
    height: 100%;
    width: 100%;
    object-fit: cover;

    /* margin-left: 3vw; */
    /* padding: 0.4em; */

    /* filter: grayscale(90%); */

    border-radius: 15%;
    /* border: 0.3em solid whitesmoke; */
    
    /* transition: 0.3s ease-in-out; */
}
/* .hidden-works a:nth-child(1){
     margin-left: 0vw;
} */
.hidden-works:hover{
    filter: grayscale(10%);
    transition: filter 0.2s ease-in-out;
    /* transform: scale(1.3); */
    transition: scale 0.3s ease-in-out;
    scale: 105%;
}