/* Terminal Styles */
@import url(https://fonts.googleapis.com/css?family=Khula:700);
/* Basic setup */
.hidden{
    opacity: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #191919;
}
.Container{
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
section{
    width: 100vw;
    height: 100vh;

    scroll-snap-align: start;
}

#first{
    display: flex;
    align-items: center;
}

/* Menu bar */
.menu{
    display: flex;
    flex-direction: column;
    position: absolute;

    top: 30vh;
    right: 30px;
}
.menu a{
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;

    width: 70px;
    margin-bottom: 70px;
    position: relative;

    transition: 0.3s;
}
.menu a::after{
    content: "";
    width: 80%;
    left: 10%;
    bottom: -20%;
    border-bottom: 4px solid #fff;
    
    transform: translateX(-50%);
    
    opacity: 0;

    position: absolute;
    transition: 0.3s;
}
.menu a:hover{
    color: #F6AE2D;
}
.menu a:hover::after{
    transform: translateX(0%);
    opacity: 0.9;
}

/* Console styles */
.console-container{
    font-family: Khula;
    font-size: 4em;
    text-align: center;

    width: 600px;
    /* height: 300px; */
    

    /* display: block; */
    /* position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    margin: auto;

    color: white;
    /* border: 2px solid white; */
}
.console-underscore{
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}

/* Profile */
#second{
    justify-content: center;
    display: flex;
}

.profile{
    display: flex;
    margin-top: 20vh;
}

#portrait{
    width: 280px;
    height: 280px;
    object-position: 16px 30px;
    object-fit: cover;

    background-color: #F38C8E;
    border-radius: 50%;

    margin-left: 400px;
}

/* Skills */
.collapse-horizontal{
    display: flex;
}
.collapse-horizontal img{
    width: 50px;
    height: 50px;
    object-fit: scale-down;
    
    margin-left: 20px;
}
.collapse-horizontal img:first-child{
    margin-left: 0px;
}