#first {
    display: flex;
    position: relative;
    align-items: center;
}

/* When scroll to the selected works */
/* Menu float to bottom. */
.floatToBottom {
    flex-direction: row;

    top: 75vh;
    left: 50vw;
    transform: translateX(-50%);
    justify-content: center;

    transition: all 0.3s;
}

.floatToBottom a {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 4em;
    border-radius: 500px;
    background-color: #F6AE2D;

    width: 10em;
    height: 2em;
    transition: all 0.3s;
}

.floatToBottom a:nth-child(1) {
    margin-left: 0em;
}

.floatToBottom a:hover {
    color: #fff;

}

/* Console styles */
.console-container {
    font-family: Khula;
    font-size: 4em;
    text-align: center;

    width: 600px;
    margin: auto;

    color: white;
    /* border: 2px solid white; */
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}

/* Profile */
.profile {
    display: flex;
    margin-top: 20vh;
}

#portrait {
    object-position: 16px 30px;
    object-fit: cover;
    background-color: #F38C8E;
}

/* Skills */
.collapse-horizontal {
    display: flex;
}

.collapse-horizontal img {
    width: 50px;
    height: 50px;
    object-fit: scale-down;

    margin-left: 20px;
}

.collapse-horizontal img:first-child {
    margin-left: 0px;
}

/* works */

.swiper-slide {
    opacity: 0;
    /* 隱藏非主要的幻燈片 */
}

.swiper-slide-visible {
    opacity: 1;
    /* 僅顯示當前幻燈片 */
}

.swiper-slide-active {
    opacity: 1;
}

.swiper-slide-next,
.swiper-slide-prev {
    opacity: 0.5;
}

.swiper-button-prev,
.swiper-button-next {
    color: whitesmoke;
}