/* Terminal Styles */
@import url(https://fonts.googleapis.com/css?family=Khula:700);
.hidden{
    opacity: 0;
}

/* Side bar */
.menu{
    display: flex;
    flex-direction: column;
    position: absolute;

    top: 50px;
    right: 30px;
}
.menu a{
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;


    /* background-color: #F6AE2D; */

    width: 70px;
    margin-bottom: 70px;
    /* border-bottom: 4px solid transparent; */
    position: relative;

    transition: 0.3s;
}
/* .menu a:hover{
    border-bottom: 4px solid white;
} */
.menu a::after{
    content: "";
    width: 80%;
    left: 10%;
    bottom: -20%;
    border-bottom: 4px solid #fff;
    
    transform: translateX(-50%);
    
    opacity: 0;

    position: absolute;
    transition: 0.3s;
}
.menu a:hover{
    color: #F6AE2D;
}
.menu a:hover::after{
    transform: translateX(0%);
    opacity: 0.9;
}
@keyframes menuAnim{
    from{
        border-bottom: 0px;
    }
    to{
        border-bottom: 2px solid white;
    }
}

/* Console styles */
.console-container{
    font-family: Khula;
    font-size: 4em;
    text-align: center;

    width: 600px;
    height: 300px;
    

    /* display: block; */
    /* position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    margin: auto;

    color: white;
    border: 2px solid white;
}
.console-underscore{
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}