/* Menu bar */
@media screen and (min-width : 992px) {
    .menu a{
        position: relative;
    
        transition: 0.3s;
    }
    .menu a::after{
        content: "";
        width: 80%;
        left: 10%;
        bottom: -20%;
        border-bottom: 4px solid #fff;
        
        transform: translateX(-50%);
        
        opacity: 0;
    
        position: absolute;
        transition: 0.3s;
    }
    .menu a:hover{
        color: #F6AE2D!important;
    }
    .menu a:hover::after{
        transform: translateX(0%);
        opacity: 0.9;
    }
}